/test/nbproject/private/
/test/build/
/hartakarun/nbproject/private/
/hartakarun/build/
/minggu9/nbproject/private/
/minggu9/build/
/quis/nbproject/private/
/quiss/nbproject/private/
/quiss/build/
/titip/nbproject/private/
/JavaApplication34/nbproject/private/
/JavaApplication34/build/
/github/nbproject/private/
